absl-py
astunparse
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
deepface
easyocr
filelock
fire
Flask
flask-cors
flatbuffers
fsspec
gast
gdown
google-pasta
grpcio
gunicorn
h5py
idna
imageio
itsdangerous
Jinja2
joblib
keras
lazy_loader
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
mpmath
mtcnn
namex
networkx
ninja
numpy
opencv-python
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
protobuf
pyclipper
Pygments
PySocks
pytesseract
python-bidi
python-dateutil
pytz
PyYAML
requests
retina-face
rich
scikit-image
scipy
setuptools
shapely
six
soupsieve
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
tifffile
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
waitress
Werkzeug
wheel
wrapt
